:root {
    --color-text-main: #275468;
    /* --color-text-main: #FFC701; */
    
     
  }

.button {
    background-color: var(--color-text-main, #275468);

}

P {
    color: var(--color-text-main, black);
}

